@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

$bg-color: #FFFFFF;
$chrome-bg-color: #ff9900;
$header-margin: .2em;
$header-padding: 1em;
$nav-padding: .5em;
$text-color: #000000;
$nav-link-bg-color: lighten($chrome-bg-color, 10%);
$nav-link-bg-color-hover: lighten($chrome-bg-color, 25%);
$nav-link-margin: $header-margin;
$content-margin: 1em;

html { height: 100%; }

body {
  background-color: $bg-color;
  color: $text-color;
  height: 100%;
  margin: 0;
  padding: 0;

  a {
    text-decoration: none;
  }

  #root {
    height: 100%;

    .application {
      display: flex;
      flex-direction: column;
      height: 100%;
      font-family: Roboto, sans-serif;

      header {
        background-color: $chrome-bg-color;
        display: flex;
        flex-direction: row;
        padding: $header-padding;
        margin-bottom: $header-margin;
      }

      #content {
        display: flex;
        flex-direction: row;
        flex: 1;

        nav {
          background-color: $chrome-bg-color;
          padding: $nav-padding;
          min-width: 250px;
          max-width: 250px;

          display: flex;
          flex-direction: column;
          overflow-y: auto;

          header {
            font-size: large;
            font-weight: bolder;
          }

          a {
            padding: .2em;
            margin-bottom: $nav-link-margin;
            cursor: pointer;
            &.exerciseLink {
              background-color: $nav-link-bg-color;
            }

            &:hover {
              background-color: $nav-link-bg-color-hover;
            }
          }
        }

        main {
          margin: $content-margin;
        }
      }
    }
  }
}
